@model Transportation_System.Models.student
@{
    ViewBag.Title = "Student Card Form";
}

<h2>Student Card Form</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Information</legend>

        <div class="editor-label">
            <label>Name</label>
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Name)
            @Html.ValidationMessageFor(model => model.Name)
        </div>

        <div class="editor-label">
            <label>Father Name</label>
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Father_Name)
            @Html.ValidationMessageFor(model => model.Father_Name)
        </div>

        <div class="editor-label">
            <label>CNIC</label>
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Cnic)
            @Html.ValidationMessageFor(model => model.Cnic)
        </div>

        <div class="editor-label">
            <label>Phone #</label>
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Phone_num)
            @Html.ValidationMessageFor(model => model.Phone_num)
        </div>

        <div class="editor-label">
            <label>Institution</label>
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Institution)
            @Html.ValidationMessageFor(model => model.Institution)
        </div>

        <div class="editor-label">
            <label>Session Start</label>
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Session_start)
            @Html.ValidationMessageFor(model => model.Session_start)
        </div>

        <div class="editor-label">
            <label>Session End</label>
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Session_end)
            @Html.ValidationMessageFor(model => model.Session_end)
        </div>

        <div class="editor-label">
            <label>Roll #</label>
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Roll_num)
            @Html.ValidationMessageFor(model => model.Roll_num)
        </div>

        <div class="editor-label">
            <label>Card Type</label>
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Card_type)
            @Html.ValidationMessageFor(model => model.Card_type)
        </div>

        <div class="editor-label">
            <label>Email</label>
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Email)
            @Html.ValidationMessageFor(model => model.Email)
        </div>

        <p>
            <input type="submit" value="Submit Request" />
        </p>
    </fieldset>
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
