@model Transportation_System.Models.signup
@{
    ViewBag.Title = "Signup";
}


<h2>Signup</h2>
@using (Html.BeginForm("SignupAction","Student",FormMethod.Post)) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>student</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.Username)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.Username, new {id="Username" })
            @Html.ValidationMessageFor(model => model.Username)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Password)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Password)
            @Html.ValidationMessageFor(model => model.Password)
        </div>
          <div class="editor-label">
            @Html.LabelFor(model => model.Email)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Email)
            @Html.ValidationMessageFor(model => model.Email)
        </div>
          <div class="editor-label">
            @Html.LabelFor(model => model.Cnic)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Cnic)
            @Html.ValidationMessageFor(model => model.Cnic)
        </div>
        </fieldset>
    <input type="submit" value ="Sign up now" />
}
